<h1>Users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<h3>お気に入り店舗一覧</h3>
<% @favorites.each do |favorite| %>
  <% store = Store.find_by(id: favorite.store_id) %>
  <%= link_to store.name, store_path(favorite.store.id) %>
<% end %>