// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.title {
//  background-color: antiquewhite;
//}
.border_silver{
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
//table  td {
//  border: 1px solid #aaa;
//}
//table  th {
//  border: 1px solid #aaa;
//}
.center {
  margin:0 auto;
  text-align: center;
}
.inline_block {
  display: inline-block;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px -6px #00000073;
}


table tr {
  background-color: #fff;
}

table th,
table td {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

table  th {
  width:100px;
  padding: 10px 0;
  font-size: 14px;
  padding: 15px;
  background-color: #FFC107;
  color:#fff;
}

table tr{
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color:#3a3a3a;
}

table tr:hover{
  background-color: #d4faff;
}
.separete {
  background-color: #d4faff;
}