// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.title {
//  background-color: antiquewhite;
//}
.border_silver{
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
//table  td {
//  border: 1px solid #aaa;
//}
//table  th {
//  border: 1px solid #aaa;
//}
center {
  margin:0 auto;
}