<% if @review.errors.any? %>
  <div class = "alert alert-warning">
    <ul>
      <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
